<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
      <span>Principal</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--BANNER-->
 <app-banner *ngIf="!isLoading" [bannerImages]="banners"></app-banner>
 <div *ngIf="isLoading">
 <ion-skeleton-text animated style="height: 25vh;"></ion-skeleton-text>
 </div>
 <app-loading-restaurant *ngIf="isLoading"></app-loading-restaurant>

<ion-list *ngIf="!isLoading">
  <ion-list-header class="ion-magin-bottom">
    <ion-label>
      <h4>Restaurantes Próximos</h4>
      <p>Descubra Restaurantes Próximos de Você</p>
    </ion-label>
  </ion-list-header>

 <!--item de restaurante-->
 <ion-item-group *ngIf="restaurants?.length > 0">
  <app-restaurant *ngFor="let restaurant of restaurants" [restaurant]="restaurant" [routerLink]="['/', 'tabs', 'restaurants', restaurant.uid]"></app-restaurant>
</ion-item-group>
 
</ion-list>
</ion-content>
